* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body,
#app {
  width: 100%;
  min-height: 100vh;
  overflow-x: hidden;
}

#app {
  background-color: #000;
  color: #fff;
}

/* 引入响应式样式 */
@import './responsive.css';