.box6 {
  min-height: 600px;
  background: #000;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 100px;
}

.box6 .left {
  width: 558px;
  height: 601px;
  padding-top: 115px;
}

.box6 .left .tips {
  font-size: 13px;
  font-weight: 700;
  color: #c48bd9;
  letter-spacing: 0;
  margin-bottom: 30px;
}

.box6 .left .title {
  font-size: 47px;
  font-weight: bold;
  color: #ffffff;
  line-height: 1.3;
  margin-bottom: 35px;
}

.box6 .left .subTitle {
  font-size: 16px;
  font-weight: 700;
  color: #b1b1b1;
  line-height: 1.6;
  margin-bottom: 35px;
}

.box6 .left .btn {
  width: 220px;
  height: 50px;
  background: #1A70FF;
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 16px;
  color: #ffffff;
  cursor: pointer;
  position: relative;
  overflow: hidden;
  z-index: 1;
  text-decoration: none;
}

.box6 .left .btn::before {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background-color: rgba(0, 0, 0, 0.3);
  transform: translate(-50%, -50%) scale(0);
  transition: transform 0.4s ease;
  z-index: -1;
}

.box6 .left .btn:hover::before {
  transform: translate(-50%, -50%) scale(4);
}

.box6 .right {
  width: 760px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 17px;
}

.box6 .right .item {
  width: 760px;
  height: 92px;
  background: #1c1c1c;
  border-radius: 8px;
  display: flex;
  align-items: center;
  padding: 0 26px;
  cursor: pointer;
  transition: all 0.3s linear;
}

.box6 .right .item:hover {
  box-shadow: 0 0 15px 10px #ffffff80;
}

.box6 .right .item img {
  width: 35px;
  height: 35px;
  flex-shrink: 0;
}

.box6 .right .item .text {
  margin-left: 13px;
  font-weight: 700;
  font-size: 21px;
  color: #fff;
} 
