.box2 {
  width: 100%;
  background: #000000;
  padding: 30px 0 100px;
}

.box2 .title {
  margin: 30px 0 80px;
  text-align: center;
  font-size: 61px;
  font-weight: bold;
  font-style: italic;
  font-family: 'Microsoft YaHei', sans-serif;
  color: white;
}

.box2 .subTitle {
  text-align: center;
  font-size: 24px;
  color: white;
  font-weight: 400;
}

.box2 .tips {
  margin: 10px 0 60px;
  text-align: center;
  font-size: 14px;
  color: #0099ff;
  font-weight: 500;
}

.box2 .content {
  max-width: 1920px;
  margin: 0 auto;
  padding: 0 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 15px;
}

.box2 .content .item {
  width: 390px;
  height: 308px;
  padding: 30px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}

.box2 .content .line {
  width: 8px;
  height: 184px;
  background: #939393;
  border-radius: 4px;
  flex-shrink: 0;
  align-self: flex-start;
  margin-top: 30px;
}

.box2 .content .line:last-child {
  display: none;
}

.box2 .content .item .head {
  font-size: 51px;
  font-weight: bold;
  color: white;
  margin: 0 0 38px;
  line-height: 1.2;
}

.box2 .content .item .message {
  font-size: 18px;
  color: white;
  line-height: 2.3;
  margin: 0;
}
